/**************/
/* CSS REMEDY/RESET */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#262626;
	--color-background:#f2f2f2;
	--color-highlight: #dc9d23;
	--text-footer:#808080;
	--color-background-footer:#d9d9d9;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: "Marcellus";
	src: url("/font/marcellus-regular-webfont.woff2") format("woff2");
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
	margin: 0;

}

h1 {
	font-family: "Marcellus";
	font-size: 2em;
	line-height: 110%;
}

h2 {
	font-family: "Marcellus";
	font-size: 1.5em;
	margin-left: 1em;
	line-height: 110%;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 1.5em;
	font-weight: 300;
	
}

/************/
/* HEADER */
/**********/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header nav {
	z-index: 1;
	flex-grow: 1;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 0.0625em;
}

header nav li {
	flex-grow: 1;
	min-width: 6em;
}

header nav a {
	text-decoration: none;
	outline: none;
	display: block;
	line-height: 3.5em;
	text-align: center;
}

nav ul:first-of-type {
	width: 0.5em;
	height: 1em;
}

/*********/
/* MAIN */
/********/


/************/
/* FOOTER */
/**********/
footer {
	background-color: var(--color-background-footer);
}

footer h2 {
	display: flex;
	justify-content: center;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
}

.socials img {
	width:2em;
}

footer section:nth-of-type(6) li{
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0.5em;
}
/*************/
/* SECTION 1 */
/************/



/*************/
/* SECTION 2 */
/************/
section:nth-of-type(2) {
	margin-left: 2em;
	margin-right: 3em;
	margin-bottom:3em;
}

section:nth-of-type(2)p {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom:3em;
}

/*************/
/* SECTION 3 */
/************/
section:nth-of-type(3) {
	display: flex;
	gap: .8em;
	flex-direction: column;
	border: 0.05em solid #808080;
	border-radius: 1.5625em;
	padding: 0.7em;
	padding-bottom: 2em;
	margin-left: 0.5em;
	margin-right: 0.9em;
	margin-bottom: 3em;
}

section:nth-of-type(3) img {
	border-radius: 1.5625em;
}

section:nth-of-type(3) p {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
}

section:nth-of-type(3) a {
	border: 0.05em solid #dc9d23;
	border-radius: 3em;
	padding: 1em;
	color: var(--color-text);
	text-decoration: none;
	margin-left: 3em;
	margin-right: 5em;
}

section:nth-of-type(3) a:hover {
	color: var(--color-highlight);
	transition-duration: 1s;
}
/*************/
/* SECTION 4 */
/************/
section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.cijfers {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(4) h2 {
	color: var(--color-highlight);
	font-size: 3em;
}

section:nth-of-type(4) p{
	margin-left: 4em;
}

/*************/
/* SECTION 5 */
/************/



/*************/
/* SECTION 6 */
/************/

/*************/
/* SECTION 7 */
/************/

/*************/
/* SECTION 8 */
/************/
section:nth-of-type(8) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--color-text);
}

.cijfers {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(8) h2 {
	color: var(--color-highlight);
	font-size: 3em;
}

section:nth-of-type(8) p{
	margin-left: 4em;
	color: var(--color-background);
}

section:nth-of-type(8) img {
	width:25em;
}

/*************/
/* SECTION 9 */
/************/


/*************/
/* SECTION 10 */
/************/