/**************/
/* CSS REMEDY/RESET */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: "Marcellus";
	src: url(marcellus-regular-webfont.woff2) format("woff2");
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h1 {
	font-family: "Marcellus";
	font-size: ;
	font-weight: ;
	font-style: ;
	letter-spacing: ;
	word-spacing: ;
	text-shadow: ;
	text-decoration: ;
	text-decoration: ;
}

p {
	line-height: ;
	text-indent: ;
	text-align: ;
	width: 50ch;
}

/************/
/* HEADER */
/**********/


/*********/
/* MAIN */
/********/


/************/
/* FOOTER */
/**********/


/*************/
/* SECTION 1 */
/************/



/*************/
/* SECTION 2 */
/************/


/*************/
/* SECTION 3 */
/************/



/*************/
/* SECTION 4 */
/************/